.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--primary-color);  */
    padding: var(--spacing-medium) var(--spacing-large); /* Ajusta el padding para mayor altura */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10rem; 
    background-image: url('../../assets/Images/TexturaAzul3.jpg'); /* Misma o distinta textura */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(52, 152, 219, 0.5); 
    background-blend-mode: overlay;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px; /* Aumentamos el tamaño del logo */
    margin-right: var(--spacing-small);
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    justify-content: space-evenly; /* Distribuye los enlaces de manera uniforme */
    width: 100%; /* Ocupa todo el espacio disponible */
    color: var(--text-color);
    text-shadow: 0 0 4px white, 0 0 10px white;
  }
  
  .navLinks li {
    margin: 0; /* Eliminamos el margen adicional de los elementos de la lista */
  }
  
  .navLinks a {
    color:#001f75; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-large); /* Aumentamos el tamaño de la fuente */
  }
  
  .navLinks a:hover {
    text-decoration: underline;
  }
  
  .navIcons {
    display: flex;
    color: white;
  }

  .navIcons p {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .navIcons img {
    height: 24px;
    margin-left: var(--spacing-medium);
  }
  